.post {
  width: 500px;
  background-color: #fff;
  border: 1px solid lightgray;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__headerAvatar {
  margin-right: 10px;
}
